.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #F6FFD1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
  color: #7ea0cc;
  height: 100vh
}

.title {
  color: #7891b3;
}

.App-link {
  color: #09d3ac;
}

.center-block {
  margin: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blurb {
  text-align: left
}
